<%- include("../partials/header"); %>
<div id="back-drop" class="hidden"></div>

<!-- ==================================================Add new item form================================================== -->
<%- include("../partials/addNewItemForm.ejs"); %>

<!-- ====================================================Edit item form==========-======================================== -->






<div id="home-wrap-div">
    <div id="home-page-container">
        <%- include("../partials/sideBarMenu.ejs"); %>
        
        <div id="home-page-content-area-container">
            <%- include("../partials/navBar.ejs"); %>
            <div id="home-page-content-container">
                <div id="single-item-container-header">
                    <div id="single-item-name-container-header">Prekės pavadinimas</div>
                    <div id="single-item-code-container-header">Prekės kodas</div>                        
                    <div id="single-item-ammount-container-header">Kiekis</div>
                    <div id="single-item-date-container-header">Grąžinimo data</div>
                </div>
                
                <% items.forEach(e =>{ %>
                    <div class="item-line-container">
                    <div id= <%= e._id %> class="single-item-container">
                        <div id="single-item-name-container"><%= e.name %></div>
                        <div id="single-item-code-container"><%= e.code %></div>                        
                        <div id="single-item-ammount-container"><%= e.ammount %></div>
                        <div id="single-item-date-container"><%= e.addDate %></div>
                        
                    </div>
                    <button class="copy-to-clip-button"><img src="/img/icons/copy-icon.png"></button>
                </div>
                <%});%>
                <br>
            </div>
        </div>
    </div>
</div>
<script>
    function resetActives(){
        document.getElementById("active-returns").classList.remove("active-link");
        document.getElementById("awaiting-export").classList.remove("active-link");
        document.getElementById("awaiting-return").classList.remove("active-link");
        document.getElementById("completed-returns").classList.remove("active-link");
    }
    resetActives();
    document.getElementById("awaiting-return").classList.add("active-link");
    document.getElementById("main-return-link").classList.add("active-link");
</script>
<%- include("../partials/footer"); %>