<%- include("../partials/header"); %>
<div id="back-drop" class="hidden"></div>
<div id="home-wrap-div">
    <div id="home-page-container">
        <%- include("../partials/sideBarMenu.ejs"); %>
        <div id="home-page-content-area-container">
            <%- include("../partials/navBar.ejs"); %>
            <div id="edit-page-content-container">
                <form id="edit-item-form" action="/editItem/<%= item._id %>" method="POST">
                    <div id="return-info-container" class="item-edit-form-col">
                        <div class="item-edit-form-col-title">Grąžinimo informacija</div>
                        <div class="edit-item-line-container">
                            <label for="code" class="edit-item-label-field">Kodas</label>
                            <input type="text" name="code" autocomplete="off" class="edit-item-input-field" <% if(item.resolved == true) { %> readonly <% } %> required value=<%= item.code %>>
                        </div>
                        <div class="edit-item-line-container">
                            <label for="name" class="edit-item-label-field">Pavad.</label>
                            <input type="text" name="name" autocomplete="off" class="edit-item-input-field" <% if(item.resolved == true) { %> readonly <% } %> required value="<%=item.name%>">
                        </div>
                        <div class="edit-item-line-container">
                            <label for="ammount" class="edit-item-label-field">Kiekis</label>
                            <input type="number" name="ammount" autocomplete="off" class="edit-item-input-field" <% if(item.resolved == true) { %> readonly <% } %> required value=<%= item.ammount %>>
                        </div>
                        <div class="edit-item-line-container">
                            <label for="boughtIn" class="edit-item-label-field">Pirkta</label>
                            <% if(item.resolved == true) {  %>
                                <div class="resolve-info-info-field"> 
                                    <% if(item.boughtIn === "0"){ %> Internetu <% } %>
                                    <% if(item.boughtIn === "01"){ %> Jonavos g. <% } %>
                                    <% if(item.boughtIn === "80"){ %> Draugystė <% } %>
                                    <% if(item.boughtIn === "110"){ %> Mega <% } %>
                                    <% if(item.boughtIn === "260"){ %> Kaišiadorys <% } %>
                                    <% if(item.boughtIn === "999"){ %> Kita <% } %>
                                </div>
                            <% } else { %>
                            <select name="boughtIn" size="1" required autocomplete="off" class="edit-item-input-field">
                                <option value="0" <% if(item.boughtIn === "0"){ %> selected <% } %> >Internetu</option>
                                <option value="01" <% if(item.boughtIn === "01"){ %> selected <% } %> >Jonavos g.</option>
                                <option value="80" <% if(item.boughtIn === "80"){ %> selected <% } %> >Draugystė</option>
                                <option value="110" <% if(item.boughtIn === "110"){ %> selected <% } %> >Mega</option>
                                <option value="260" <% if(item.boughtIn === "260"){ %> selected <% } %> >Kaišiadorys</option>
                                <option value="999" <% if(item.boughtIn === "999"){ %> selected <% } %> >Kita</option>
                            </select>
                        <% } %>
                        </div>
                        <div class="edit-item-line-container">
                            <label for="authorUser" class="edit-item-label-field">Sukurė</label>
                            <input type="text" name="authorUser" autocomplete="off" class="edit-item-input-field" readonly required value="<%= item.authorUser %>">
                        </div>
                        <div class="edit-item-line-container">
                            <label for="addDate" class="edit-item-label-field">Data</label>
                            <input type="text" name="addDate" autocomplete="off" class="edit-item-input-field" readonly required value=<%= item.addDate %>>
                        </div>
                        <textarea id="author-comment-area" name="authorComment" autocomplete="off" placeholder="Komentaras" <% if(item.resolved == true) { %> readonly <% } %>><%= item.authorComment %></textarea>   
                    </div>
                    <div id="resolve-info-container" class="item-edit-form-col">
                        <div class="item-edit-form-col-title">Sprendimo informacija</div>
                        <div class="resolve-info-line-container">
                            <div class="resolve-info-label-field">Sprendimas:</div>
                            <div class="resolve-info-info-field"><% if(item.resolved == true){ if(item.resolve === "export"){ %> Išvežti <% }else{ %> Grąžinti į skyrių<% } }else{ %> Nėra <% } %></div>
                        </div>
                        <div class="resolve-info-line-container">
                            <div class="resolve-info-label-field">Autorius:</div>
                            <div class="resolve-info-info-field"><% if(item.resolved == true){ %> <%= item.resolvedBy %> <% }else{ %> --- <% } %></div>
                        </div>
                        <div class="resolve-info-line-container">
                            <div class="resolve-info-label-field">Sprendimo data:</div>
                            <div class="resolve-info-info-field"><% if(item.resolved == true){ %> <%= item.resolveDate %> <% }else{ %> --- <% } %></div>
                        </div>
                        <div class="resolve-info-line-container">
                            <textarea name="resolverComment" placeholder="Komentaras" id="resolver-comment-area" <% if(item.finished == true) { %> readonly <% } %> ><% if(item.resolved == true){%><%= item.resolverComment %><%}%></textarea>
                        </div>
                        <div class="resolve-info-line-container">
                            <% if(item.finished == true) { %>
                                <div class="resolve-info-label-field">Sprendimas:</div>
                                <div class="resolve-info-info-field">
                                    <% if(item.resolve === "export"){ %> Išvežti <% } %>
                                    <% if(item.resolve === "return"){ %> Grąžinti į skyrių<% } %>
                                </div>
                            <% } else{ %>
                            <div class="resolve-info-label-field">Sprendimas:</div>
                            <select id="select-resolve" name="resolve" size="1" autocomplete="off">
                                <option value="0" selected="selected"></option>
                                <option value="export" <% if(item.resolve == "export") { %> selected <% } %>>Išvežti</option>
                                <option value="return" <% if(item.resolve == "return") { %> selected <% } %>>Grąžinti į skyrių</option>
                            </select>
                            <% } %>
                        </div>
                    </div>
                    <div id="completed-info-container" class="item-edit-form-col">
                        <div class="item-edit-form-col-title">Užbaigimo informacija</div>
                        <div class="resolve-info-line-container">
                            <div class="resolve-info-label-field">Užbaigta:</div>
                            <div class="resolve-info-info-field"><% if(item.finished == true){ %> Taip <% }else{ %> Ne <% } %></div>
                        </div>
                        <div class="resolve-info-line-container">
                            <div class="resolve-info-label-field">Autorius:</div>
                            <div class="resolve-info-info-field"><% if(item.finished == true){ %> <%= item.finishedBy  %>  <% }else{ %> --- <% } %></div>
                        </div>
                        <div class="resolve-info-line-container">
                            <div class="resolve-info-label-field">Užbaigimo data:</div>
                            <div class="resolve-info-info-field"><% if(item.finished == true){ %> <%= item.finishDate %> <% }else{ %> --- <% } %></div>
                        </div>
                        <div class="resolve-info-line-container">
                            <textarea name="finisherComment" placeholder="Komentaras" id="finisher-comment-area" <% if(item.finished == true){ %> readonly <% } %>><% if(item.finished == true){ %> <%= item.finisherComment %> <%}%></textarea>
                        </div>
                        <div class="resolve-info-line-container">
                            <div class="resolve-info-label-field">Užbaigti: </div>
                            <input type="checkbox" id="finish" name="finish" <% if(item.resolved != true){ %> disabled <% } %> <% if(item.finished == true){ %> disabled checked <% } %>>                            
                        </div>          
                    </div>
                </form>
                <div id="edit-item-form-control-container">
                    <button form="edit-item-form" class="btn btn-dark">Atnaujinti</button>
                    <div id="edit-item-form-cancel" class="btn btn-light">Atšaukti</div>
                </div>                
            </div>
        </div>
    </div>
</div>
<script>

</script>
<%- include("../partials/footer"); %>