<%- include("../partials/header"); %>
<div id="back-drop" class="hidden"></div>
<%- include("../partials/addNewItemForm.ejs"); %>
<div id="home-wrap-div">
    <div id="home-page-container">
        <%- include("../partials/sideBarMenu.ejs"); %>
        <div id="home-page-content-area-container">
            <%- include("../partials/navBar.ejs"); %>
            <div id="home-page-content-container">
                
                
                <% users.forEach(user =>{ %>
                    <div class="user-line-container">
                    <div id= <%= user._id %> class="single-user-container">
                        <div class="single-user-info-container2"><%=user.username %></div>
                        <div class="single-user-info-container"><%=user.name %></div>
                        <div class="single-user-info-container"><%=user.lastName %></div>
                        <div class="single-user-info-container">
                            <% if(user.storePosition == "0"){%>Administracija<%}%>
                            <% if(user.storePosition == "1"){%>Kasos<%}%>
                            <% if(user.storePosition == "2"){%>Skyrius<%}%>
                            <% if(user.storePosition == "3"){%>PPG<%}%>
                        </div>
                        <div class="single-user-info-container">
                            <% if(user.webAcces == "0"){%>Vartotojas<%}%>
                            <% if(user.webAcces == "1"){%>Admin<%}%>
                        </div>
                        <div class="single-user-info-container3">
                            <% if(user.verifiedEmail == true){%>Verified Email<%}%>
                            <% if(user.verifiedEmail == false){%>Unverified Email<%}%>
                        </div>
                        <div class="single-user-info-container3">
                            <% if(user.verifiedAccount == true){%>Full account<%}%>
                            <% if(user.verifiedAccount == false){%>Unverified<%}%>
                        </div>
                    </div>
                </div>
                <%});%>
                
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("user-control").classList.add("active-link");

</script>
<%- include("../partials/footer"); %>